<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">

        <li *ngFor="let appareil of myAppareils" class="list-group-item"

        [ngClass]="{'list-group-item': true,
                    'list-group-item-success': appareil.statusOn,
                    'list-group-item-danger': !appareil.statusOn}">
          <app-appareil [appareilOn]="appareil.statusOn" [appareilName]="appareil.name"></app-appareil>
        </li>
      </ul>
      <p>Mis à jour le : {{lastUpdate | date: 'short'}}</p>
      <button class="btn btn-success" (click)="onAllumer()" [disabled]="!isAuth">Tout allumer</button>
    </div>
  </div>
</div>
