<h2>Mes appareils</h2>
<ul class="list-group">

  <app-appareil
    *ngFor="let appareil of myAppareils; let i = index"
    [index]="i"
    [appareilOn]="appareil.statusOn"
    [appareilName]="appareil.name"
    [ngClass]="{'list-group-item': true,
                    'list-group-item-success': appareil.statusOn,
                    'list-group-item-danger': !appareil.statusOn}"
    [id]="appareil.id"></app-appareil>
</ul>
<p>Mis à jour le : {{lastUpdate | date: 'short'}}</p>
<button class="btn btn-success" (click)="onAllumer()" [disabled]="!isAuth">Tout allumer</button>
<button class="btn btn-danger" (click)="onEteindre()" [disabled]="!isAuth">Tout éteindre</button>
